<div class = "jumbotron center">
  <h1>Welcome to MyRecipes App</h1>
  <h2>The bset recipe sharing app!</h2>
  <p><%= link_to "sign up or login in", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>
