$navbar-default-bg: #dd5630;
@import 'bootstrap-sprockets';
@import 'bootstrap';
.center {
  text-align: center;
}

.jumbotron{
  background-image: asset-url('coverImg.jpg');
  background-size: cover;
  height: 300px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;

}

.jumbotron h1, h2 {
  margin-top: 40px;
  letter-spacing: -1px;

}

.btn-xlarge{
  background-color: #dd5630;
}

.btn-xlarge{
  color : #fff;
  text-decoration: none;
}


.footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #dd5630;
  color: #777;
}

.footer a {
  color :#555;
}

.footer a:hover{
  color: #222;
}

.footer small {
  float: left;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}
