<footer class="footer">
  <small>
    <strong>
      <a href="https://www.linkedin.com/in/zahra-sanaeian-5a422787/">Linkedin</a>
      <a href="https://github.com/zara-sh">Github</a>
    </strong>
  </small>
    <nav>
      <ul>
        <li><%= link_to "About","#" %></li>
      </ul>
    </nav>
</footer>
